@using WebApplication2.Models.Entity
@model List<TBLKITAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<title>Kitaplar</title>
<br />
<h2>Kitap Sayfası</h2>
@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px;">
        <b>Aranacak kitap adını giriniz: &nbsp</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </div>

}
@{
    var listem = ViewBag.kategori as List<TBLKATEGORI>;
    var listem1 = ViewBag.yazar as List<TBLYAZAR>;

}
<table class="table table-striped">
    @*Tablo üst rengi*@
    <tr style="background-color:#ff6a00">
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kitap Yazarı</th>
        <th>Basım Yılı</th>
        <th>Yayınevi</th>
        <th>Sayfa</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.AD</td>
            @foreach (var item in listem1)
            {
                if (k.YAZAR == item.ID)
                {
                    <td>@item.AD  @item.SOYAD</td>
                }
            }
            <td>@k.BASIMYILI</td>
            <td>@k.YAYINEVI</td>
            <td>@k.SAYFA</td>
            <td>@k.DURUM</td>
            <td><a href="/Kitap/KitapSil/@k.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kitap/KitapGetir/@k.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

<style>
    .btn-success {
        margin-bottom: 20px; /* İhtiyacınıza göre boşluk miktarını ayarlayabilirsiniz */
    }
</style>
<a href="/Kitap/KitapEkle" class="btn btn-success">Yeni Kitap Ekle</a>
