@using WebApplication2.Models.Entity
@model WebApplication2.Models.Entity.TBLKITAP

@{
    ViewBag.Title = "KitapEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
    var kategoriListesi = ViewBag.ktgl as List<TBLKATEGORI>;
    var yazarListesi = ViewBag.yzrl as List<TBLYAZAR>;
}

<script type="text/javascript">
    function validateForm() {
        var isValid = true;
        var errorMessage = "";

        if (document.getElementById('AD').value == '') {
            errorMessage += 'Kitap adı alanı boş bırakılamaz.\n';
            isValid = false;
        }
        if (document.getElementById('BASIMYILI').value == '') {
            errorMessage += 'Basım yılı alanı boş bırakılamaz.\n';
            isValid = false;
        }
        if (document.getElementById('YAYINEVI').value == '') {
            errorMessage += 'Yayınevi alanı boş bırakılamaz.\n';
            isValid = false;
        }
        if (document.getElementById('SAYFA').value == '') {
            errorMessage += 'Sayfa sayısı alanı boş bırakılamaz.\n';
            isValid = false;
        }

        if (!isValid) {
            alert(errorMessage);
        }
        return isValid;
    }
</script>

<form class="form-group" method="post" onsubmit="return validateForm()">
    <div style="margin-top:15px">
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control", id = "AD" })
    </div>

    <div style="margin-top:15px">
        <label>Kitap Kategori</label>
        @Html.DropDownListFor(k => k.KATEGORI,
            new SelectList(kategoriListesi, "ID", "AD"),
            "-- Kategori Seçiniz --",
            new { @class = "form-control", id = "KATEGORI" })
    </div>

    <div style="margin-top:15px">
        <label>Yazar</label>
        @Html.DropDownListFor(k => k.YAZAR,
            new SelectList(yazarListesi.Select(y => new
                 {
                ID = y.ID,
                AdSoyad = y.AD + " " + y.SOYAD
            }), "ID", "AdSoyad"),
            "-- Yazar Seçiniz --",
            new { @class = "form-control", id = "YAZAR" })
    </div>
    <div style="margin-top:15px">
        <label>Basım Yılı</label>
        @Html.TextBoxFor(k => k.BASIMYILI, new { @class = "form-control", id = "BASIMYILI" })
    </div>

    <div style="margin-top:15px">
        <label>Yayınevi</label>
        @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control", id = "YAYINEVI" })
    </div>

    <div style="margin-top:15px">
        <label>Sayfa</label>
        @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control", id = "SAYFA" })
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Kitap Ekle</button>
    </div>
</form>
