@model WebApplication2.Models.Entity.TBLHAREKET
@{
    ViewBag.Title = "Odunciade";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<title>Ödünç Verme</title>
<br />
<h2>Ödünç Verme</h2>
@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Hareket ID</label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @*@Html.LabelFor(k => k.PERSONEL)*@
        <label>Kitap Adı</label>
        @Html.TextBox("ktp", ViewBag.ktp as string, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Üye</label>
        @Html.TextBox("uye", ViewBag.uye as string, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Personel</label>
        @Html.TextBox("prs", ViewBag.prs as string, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Alış Tarihi</label>
        @Html.TextBoxFor(k => k.ALISTARIHI, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Normal İade Tarihi</label>
        @Html.TextBoxFor(k => k.IADETARIHI, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Üyenin Getirdiği Tarihi</label>
        <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" />
        <br />
        <label>Geç Gelen Gün Sayısı</label>
        <input type="text" class="form-control" id="Gecinput1" value="@ViewBag.dgr" />
        <br />
    </div>
    <div>
        <button class="btn btn-success">Ödünç Kitabı Geri Al</button>
    </div>

}